#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DENABLE_CACHE=ON \
		-DINSTALL_SYSTEMD=OFF

override_dh_auto_install:
	dh_auto_install

# NSS and PAM modules need ldconfig but no development symlinks
override_dh_makeshlibs:
	dh_makeshlibs -X/security/
